In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('test data.xlsx')

In [4]:
df

,Review,date,Location,Unnamed: 3
0,I was very impressed with the resort.\n Great ...,2019-08-20,Sebastian,NaN
1,The rooms were nice the outside needs work als...,2019-08-20,Los Angeles,NaN
2,Great location! I have stayed at this hotel on...,2019-08-20,Georgia,NaN
3,The hotel was adequate for my stay. The strips...,2019-08-20,NaN,NaN
4,"Great location, room was large and spacious. P...",2019-08-19,Palm Harbor,NaN
...,...,...,...,...
6443,"·the staff were all so friendly. frank, the ch...",2019-07-12,United States of America,NaN
6444,·the internet barely worked or didn't work,2019-07-12,United States of America,NaN
6445,·the location was great.\n \n \n \n \n ·the be...,2019-07-10,United States of America,NaN
6446,·we were early for check in and the staff was ...,2019-07-10,United States of America,NaN
6447,"·staff, free coffee, location and activities.\...",2019-07-10,United States of America,NaN

In [6]:
df.columns

Index(['Review', 'date', 'Location', 'Unnamed: 3'], dtype='object')

In [7]:
df.drop("Unnamed: 3",axis=1,inplace=True)

In [8]:
df

,Review,date,Location
0,I was very impressed with the resort.\n Great ...,2019-08-20,Sebastian
1,The rooms were nice the outside needs work als...,2019-08-20,Los Angeles
2,Great location! I have stayed at this hotel on...,2019-08-20,Georgia
3,The hotel was adequate for my stay. The strips...,2019-08-20,NaN
4,"Great location, room was large and spacious. P...",2019-08-19,Palm Harbor
...,...,...,...
6443,"·the staff were all so friendly. frank, the ch...",2019-07-12,United States of America
6444,·the internet barely worked or didn't work,2019-07-12,United States of America
6445,·the location was great.\n \n \n \n \n ·the be...,2019-07-10,United States of America
6446,·we were early for check in and the staff was ...,2019-07-10,United States of America
6447,"·staff, free coffee, location and activities.\...",2019-07-10,United States of America

In [13]:
obj=df.groupby('Location')

In [14]:
obj

In [19]:
import spacy
from spacytextblob.spacytextblob import SpacyTextBlob
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [17]:
!pip3 install spacytextblob

Collecting spacytextblob
  Downloading spacytextblob-4.0.0-py3-none-any.whl (4.5 kB)
Requirement already satisfied: textblob<0.16.0,>=0.15.3 in ./anaconda3/lib/python3.8/site-packages (from spacytextblob) (0.15.3)
Requirement already satisfied: spacy<4.0,>=3.0 in ./anaconda3/lib/python3.8/site-packages (from spacytextblob) (3.1.3)
Requirement already satisfied: pathy>=0.3.5 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (0.6.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (4.59.0)
Requirement already satisfied: setuptools in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (52.0.0.post20210125)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (2.4.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (2.0.6)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (2.27.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (1.0.5)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (0.8.2)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (0.7.4)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (2.0.5)
Requirement already satisfied: packaging>=20.0 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (20.9)
Requirement already satisfied: numpy>=1.15.0 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (1.19.5)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (0.4.0)
Requirement already satisfied: jinja2 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (2.11.3)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (3.0.5)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (1.8.2)
Requirement already satisfied: thinc<8.1.0,>=8.0.9 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (8.0.10)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in ./anaconda3/lib/python3.8/site-packages (from spacy<4.0,>=3.0->spacytextblob) (3.0.8)
Requirement already satisfied: nltk>=3.1 in ./anaconda3/lib/python3.8/site-packages (from textblob<0.16.0,>=0.15.3->spacytextblob) (3.6.1)
Requirement already satisfied: regex in ./anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob<0.16.0,>=0.15.3->spacytextblob) (2021.4.4)
Requirement already satisfied: click in ./anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob<0.16.0,>=0.15.3->spacytextblob) (7.1.2)
Requirement already satisfied: joblib in ./anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob<0.16.0,>=0.15.3->spacytextblob) (1.0.1)
Requirement already satisfied: pyparsing>=2.0.2 in ./anaconda3/lib/python3.8/site-packages (from packaging>=20.0->spacy<4.0,>=3.0->spacytextblob) (2.4.7)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in ./anaconda3/lib/python3.8/site-packages (from pathy>=0.3.5->spacy<4.0,>=3.0->spacytextblob) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in ./anaconda3/lib/python3.8/site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy<4.0,>=3.0->spacytextblob) (3.7.4.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<4.0,>=3.0->spacytextblob) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<4.0,>=3.0->spacytextblob) (2.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<4.0,>=3.0->spacytextblob) (2.0.11)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<4.0,>=3.0->spacytextblob) (2021.10.8)
Requirement already satisfied: MarkupSafe>=0.23 in ./anaconda3/lib/python3.8/site-packages (from jinja2->spacy<4.0,>=3.0->spacytextblob) (1.1.1)
Installing collected packages: spacytextblob
Successfully installed spacytextblob-4.0.0

In [20]:
nlp = spacy.load('en_core_web_sm')
nlp.add_pipe('spacytextblob')

In [36]:
score = []
label_ = []

In [37]:
for i in df['Review']:
    i= str(i).replace('\n','')
    doc = nlp(i)
    
    sentiment = doc._.blob.polarity
    sentiment = round(sentiment,2)

    if sentiment > 0:
        label = "Positive"
    else:
        label = "Negative"

    label_.append(label)
    score.append(sentiment)

In [39]:
df["Sentiment Score"] = score
df["Sentiment Label"] = label_

In [38]:
len(score)

6448

In [40]:
df

,Review,date,Location,Sentiment Score,Sentiment Label
0,I was very impressed with the resort.\n Great ...,2019-08-20,Sebastian,0.44,Positive
1,The rooms were nice the outside needs work als...,2019-08-20,Los Angeles,0.23,Positive
2,Great location! I have stayed at this hotel on...,2019-08-20,Georgia,0.29,Positive
3,The hotel was adequate for my stay. The strips...,2019-08-20,NaN,0.12,Positive
4,"Great location, room was large and spacious. P...",2019-08-19,Palm Harbor,0.34,Positive
...,...,...,...,...,...
6443,"·the staff were all so friendly. frank, the ch...",2019-07-12,United States of America,0.20,Positive
6444,·the internet barely worked or didn't work,2019-07-12,United States of America,0.05,Positive
6445,·the location was great.\n \n \n \n \n ·the be...,2019-07-10,United States of America,0.27,Positive
6446,·we were early for check in and the staff was ...,2019-07-10,United States of America,0.20,Positive
6447,"·staff, free coffee, location and activities.\...",2019-07-10,United States of America,0.08,Positive

In [51]:
df.groupby('Location')['Sentiment Label'].count().sort_values(ascending = False)

Location
United States of America    116
New York                     34
California                   19
San Jose                     19
Canada                       16
                           ...
Manhattan                     1
Manhattan, NY                 1
Mansfield, Texas              1
Margate Florida               1
2186                          1
Name: Sentiment Label, Length: 1082, dtype: int64

In [43]:
df['Sentiment Label'].value_counts()

Positive    5601
Negative     847
Name: Sentiment Label, dtype: int64

In [44]:
847/6448 * 100

13.135856079404467

In [46]:
df['Location'].unique()

array(['Sebastian', 'Los Angeles', 'Georgia', ..., 'India', 'Malaysia',
       'Trinidad and Tobago'], dtype=object)

In [55]:
df[(df['Location'] =='United States of America') & (df['Sentiment Label'] =='Positive') ]

,Review,date,Location,Sentiment Score,Sentiment Label
6271,"·the location was excellent to td garden, as w...",2019-08-18,United States of America,0.58,Positive
6277,·no came too clean roon and no check bedroom,2019-08-18,United States of America,0.37,Positive
6279,·location\n \n \n \n \n ·the parking fees were...,2019-08-17,United States of America,0.01,Positive
6280,·quiet rooms & very friendly staff.,2019-08-17,United States of America,0.49,Positive
6283,·the wyndham grand is in the best location in ...,2019-08-16,United States of America,0.63,Positive
...,...,...,...,...,...
6443,"·the staff were all so friendly. frank, the ch...",2019-07-12,United States of America,0.20,Positive
6444,·the internet barely worked or didn't work,2019-07-12,United States of America,0.05,Positive
6445,·the location was great.\n \n \n \n \n ·the be...,2019-07-10,United States of America,0.27,Positive
6446,·we were early for check in and the staff was ...,2019-07-10,United States of America,0.20,Positive
6447,"·staff, free coffee, location and activities.\...",2019-07-10,United States of America,0.08,Positive

In [57]:
len(df['Location'].unique())

1083